https://www.datahub.io/sports-data/english-premier-league

In [1]:
import pandas as pd
import glob
from dateutil.parser import parse

matches = []
for infile in glob.glob("data/*.csv"):
    data = pd.read_csv(infile)
    matches.append(data)
matches = pd.concat(matches, ignore_index=True)

matches.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,LBA,SJH,SJD,SJA,BSH,BSD,BSA,SBH,SBD,SBA
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
matches = matches[['Date', 'HomeTeam','AwayTeam','FTHG','FTAG','B365H','B365D','B365A']].copy()

matches

,Date,HomeTeam,AwayTeam,FTHG,FTAG,B365H,B365D,B365A
0,10/08/2018,Man United,Leicester,2,1,1.57,3.9,7.50
1,11/08/2018,Bournemouth,Cardiff,2,0,1.90,3.6,4.50
2,11/08/2018,Fulham,Crystal Palace,0,2,2.50,3.4,3.00
3,11/08/2018,Huddersfield,Chelsea,0,3,6.50,4.0,1.61
4,11/08/2018,Newcastle,Tottenham,1,2,3.90,3.5,2.04
...,...,...,...,...,...,...,...,...
3795,2010-05-09,Everton,Portsmouth,1,0,1.29,5.5,11.00
3796,2010-05-09,Hull,Liverpool,0,0,6.50,3.8,1.57
3797,2010-05-09,Man United,Stoke,4,0,1.13,8.0,23.00
3798,2010-05-09,West Ham,Man City,1,1,4.00,3.6,1.91
3799,2010-05-09,Wolves,Sunderland,2,1,2.25,3.4,3.25

In [3]:
matches['Date'] = pd.to_datetime(matches['Date'], dayfirst=True)

matches.sort_values(by='Date', axis=0, ascending=True, ignore_index=True, inplace=True)

matches

NameError: name 'subset' is not defined

In [ ]:
def determineActualWinner():
	for i, match in matches.iterrows():
		if match['FTHG'] > match['FTAG']:
			return match['HomeTeam']
		elif match['FTHG'] < match['FTAG']:
			return match['AwayTeam']
		else:
			return "DRAW"

matches['Actual Winner'] = determineActualWinner()

# matches['Actual Winner'] = [match['HomeTeam'] if match['FTHG'] > match['FTAG'] else match['AwayTeam'] if match['FTHG'] < match['FTAG'] else "DRAW" for i, match in matches.iterrows()]

# matches['Predicted Winner'] = [match['HomeTeam'] if match['B365H'] < min(match['B365A'],match['B365D']) else match['AwayTeam'] if match['B365A'] < min(match['B365H'],match['B365D']) el#se "DRAW" for i, match in matches.iterrows()]

matches